<h1>Win a Free 32 GB USB Drive in 3 Steps!</h1>

<ol>
    <li>Go <%= link_to "Vote", "/vote" %> for Weekly Eats!</li>
    <li>Enter your email address to enter the contest.</li>
    <li>Vote again to increase your chance of winning.</li>
</ol>
