// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    /*background-color: #00a5e5;*/
	background-color: #00a5e5;
	background-image: url("background-fadeout.png");
	background-repeat: no-repeat;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li {
    background-image: url("step1.png");
	background-repeat: no-repeat;
	margin-bottom: 200px;
}

.step h1 {
	text-align: left;
	margin-top: 15px;
}

#votepage {
	text-align: left;
}

form {
	text-align: center;
}

#free {
	margin: 40px 0;
}