<!DOCTYPE html>
<html>
<head>
  <title>Prize</title>
  <meta name="description" content = "Win a free SanDisk 32 gb usb flash drive by voting for Weekly Eats in the Global Startup Battle.">
  <meta name="keywords" content ="free usb, free usb drive, free flash drive, free 32gb flash drive, free 32gb thumb drive, free 32gb usb flash drive, vote for global startup battle">	
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
